* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
  padding: 0 15px;
}
.productos {
  display: flex;
  list-style: none;
  justify-content: space-around;
  background: rgb(15, 15, 15);
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: star;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
}

.menu-icon {
  color: white;
  font-size: 30px;
}
